<?xml version="1.0"?>
<!-- 
    Nota: en lugar de editar manualmente este archivo, puede usar la 
      herramienta Administración de sitios web para configurar las opciones de su aplicación. Use
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará la lista completa de opciones y comentarios en 
    machine.config.comments ubicado normalmente en 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="FERRER" value="Server=JORDIHP;Database=CASAJUANA;Uid=sa;Pwd=s1mpl3;"></add>
    <!--<add key="FERRER" value="Server=VMBSO\SAPSBO;Database=TEST_CFERRER;Uid=sa;Pwd=EiB1OsCt;"></add>-->
    <add key="PDA" value="Server=JORDIHP;Database=PDA;Uid=sa;Pwd=s1mpl3;"></add>
  </appSettings>
  <connectionStrings/>
  <system.web>

    
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="true"/>
    <pages validateRequest="false" />
 

    <!--
          La sección <authentication> habilita la configuración 
          del modo de autenticación de seguridad que usa 
          ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows"/>
    <!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. En concreto, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>

  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, soapaction" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
</configuration>